function Board.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 9
call Array.new 1
pop static 0
push constant 9
call Array.new 1
pop static 1
push constant 0
push static 0
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 320
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 0
add
push constant 320
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 0
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 0
add
push constant 320
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 1
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
call Array.new 1
pop this 0
push pointer 0
call Board.drawGrid 1
pop temp 0
push pointer 0
return
function Board.drawGrid 0
push argument 0
pop pointer 0
push constant 224
push constant 32
push constant 224
push constant 224
call Screen.drawLine 4
pop temp 0
push constant 288
push constant 32
push constant 288
push constant 224
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 96
push constant 352
push constant 96
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 160
push constant 352
push constant 160
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawO 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push constant 20
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push constant 19
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Board.drawX 4
push argument 0
pop pointer 0
push argument 1
push constant 15
sub
pop local 0
push argument 1
push constant 15
add
pop local 1
push argument 2
push constant 15
add
pop local 2
push argument 2
push constant 15
sub
pop local 3
push local 0
push local 2
push local 1
push local 3
call Screen.drawLine 4
pop temp 0
push local 1
push local 2
push local 0
push local 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawMove 2
push argument 0
pop pointer 0
push argument 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
push static 1
add
pop pointer 1
push that 0
pop local 1
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push local 1
call Board.drawO 3
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push local 0
push local 1
call Board.drawX 3
pop temp 0
label IF_END0
push constant 0
return
